<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartmashroom">

    <!-- Tambahkan izin internet di sini -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartMashroom">

        <!-- MainActivity sebagai launcher utama -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LoginActivity hanya bisa diakses dari dalam aplikasi -->
        <activity android:name=".LoginActivity" android:exported="false" />

        <!-- ResetPasswordActivity -->
        <activity android:name=".ResetPasswordActivity" android:exported="false" />

        <!-- BerandaActivity -->
        <activity android:name=".BerandaActivity" android:exported="false" />

        <!-- ProfilActivity -->
        <activity android:name=".ProfilActivity" android:exported="false" />

        <!-- EditNamaActivity -->
        <activity android:name=".EditNamaActivity" android:exported="false" />

        <!-- EditPasswordActivity -->
        <activity android:name=".EditPasswordActivity" />

        <!-- EditEmailActivity -->
        <activity android:name=".EditEmailActivity" />

        <!-- PengembunanActivity -->
        <activity
            android:name=".PengembunanActivity"
            android:exported="false" />

        <!-- NotifikasiActivity -->
        <activity android:name=".NotifikasiActivity" />

    </application>
</manifest>
